@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
.radio:disabled {
  opacity: 0.8;
}
.checkbox:disabled {
  opacity: 0.8;
}
.btn:disabled {
  opacity: 0.3;
}
body {
  background-color: #fcfcfc;
}
.diffViewport {
  display: none;
}
